.moodCard {
    width: 750px;
    height: 500px;
    border: 6px solid rgb(110, 80, 192);
    
}

.tagSelect{
    font-display: center ;
    font-size: 15px;
    height: 40px;
    width: 170px
}










